/*

This is our CSS style sheet

*/

* {
    font-size: 12px;
    margin: 0;
    padding: 0;
}
/* ----------------------------------------- Main Div Container Styling ----------------------------------------- */
#img-div {
    height: 90vh;
    background-image: url(https://cdn.freecodecamp.org/testable-projects-fcc/images/tribute-page-main-image.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
}

#title {
    color: rgb(255, 255, 255);
    font-size: 50px;
}

#img-div > p {
    color: rgb(255, 255, 255);
}

/* ----------------------------------------- Section Styling  ----------------------------------------- */

#tribute-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tribute-info > h3 {
    padding: 15px;
}

li > p {
    text-align: left;
    padding: 5px 0;
}
ul {
    display: flex;
    flex-direction: column;
    padding: 5px 220px;
}
#tribute-info > .container {
    display: flex;
    flex-direction: column;
    padding: 5px 220px;
    font-style: italic;
    justify-content: space-around;
}

.secondP {
    padding: 7px;
    font-size: 10px;
}

/* ----------------------------------------- Footer Styling  ----------------------------------------- */

footer {
    text-align: center;
}


/* ----------------------------------------- Media Queries  ----------------------------------------- */

/*Tablet Display-------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
    /*----Main Div Container Styling----*/
    #img-div {
        height: 50vh;
        width: 100%;
    }
    #title {
        font-size: 25px;
    }
    /*--------Section Styling--------*/
    #tribute-info {
        color: white;
        background-color: lightslategray;
    }
}
/*Phone Display---------------------------------------------------------------*/
@media only screen and (max-width: 600px) {
    /*----Main Div Container Styling----*/    
    #img-div {
        height: 30vh;
        justify-content: center;
    }
    #img-div > p {
        padding: 10px 100px;
    }
    /*--------Section Styling--------*/
    ul,
    #tribute-info > .container {
        padding: 5px 100px;
    }
    #tribute-info {
        color: white;
        background-color: darkgrey;
    }
    /*--------Footer--------*/
    footer {
        padding: 0 100px;
    }
    footer > h1,
    h1 > a {
        font-size: 10px;
    }
}
