/*

This is our CSS style sheet

*/

* {
    font-size: 12px;
    margin: 0;
    padding: 0;
}
/* ----------------------------------------- Main Div Container Styling ----------------------------------------- */
#img-div {
    height: 90vh;
    background-image: url(https://cdn.freecodecamp.org/testable-projects-fcc/images/tribute-page-main-image.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#title {
    color: rgb(255, 255, 255);
    text-decoration: currentColor;
    font-size: 50px;
    padding: 400px 400px 0 100px;
}

#img-div > p {
    padding: 0 0 0 100px;
    color: rgb(255, 255, 255);
}

/* ----------------------------------------- Section Styling  ----------------------------------------- */

#tribute-info {
    text-align: center;
}

#tribute-info > h3 {
    padding: 30px;
}

li > p {
    text-align: left;
    padding: 5px 0;
}
ul {
    display: flex;
    flex-direction: column;
    padding: 5px 370px;
}
#tribute-info > .container {
    display: flex;
    flex-direction: column;
    padding: 10px 350px;
    font-style: italic;
    justify-content: space-around;
}

.secondP {
    padding: 7px;
    font-size: 10px;
}

/* ----------------------------------------- Section Styling  ----------------------------------------- */

footer {
    text-align: center;
}